# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc & OS
.DS_Store
Thumbs.db
*.pem
*.key
*.cert
*.crt

# debug & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment files (ignore all except .env.example)
.env*
!.env.example

# vercel
.vercel

# typescript & build caches
*.tsbuildinfo
next-env.d.ts
.eslintcache

# IDE and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# local utility & processing scripts
process_logo.js
